<%= simple_form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, 'errors') %> prohibited this record from being saved
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>

  <%= f.input :text %>

  <%= f.input :article_type, collection: Article.article_types.keys, include_blank: false, as: :radio_buttons %>

  <%= f.submit %>

<% end %>

<%= link_to 'Back', articles_path %>
