<h1>Listing articles</h1>

<%= link_to 'New Article', new_article_path %>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td>
      <% if article.article_picture.thumb.file.present? %>
        <%= image_tag(article.article_picture.thumb.url) %>
      <%end%>
    </td>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= article.user&.email %></td>
    <td><%= link_to 'Show', article_path(article.id) %></td>
    <td><%= link_to 'Edit', edit_article_path(article.id) %></td>
    <td><%= link_to 'Delete', article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
