<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Add a comment</h2>
<% if @comment.errors.any? %>
  <strong>The following errors prevented this record from being saved:</strong>
  <ul>
    <% @comment.errors.full_messages.each do |e| %>
        <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for([@article, @comment]) do |f| %>
  <%= f.input :commenter, as: :email %>
  <%= f.input :body %>
  <%= f.submit %>
<% end %>

<p>
  <strong> Comments </strong>
  <% @article.comments.reject { |o| o.new_record? }.each do |cm|  %>
  <%= render 'comments/comment' , comment: cm %>
  <% end %>

</p>

<%= link_to 'Back', articles_path %>
